// forked from https://github.com/urob/zmk-config/blob/9f386d209657a1aefc625633bda13f5a091ea465/config/combos.dtsi
/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 50

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/* Horizontal combos - left hand */
ZMK_COMBO(num,   &num_word NUM,LT3 LT2,     DEF NUM NAV MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(shift, &kp LSHFT,    LT2 LT1,     DEF,               COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(esc,   &kp ESC,      LM3 LM2,     DEF NUM NAV MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bspc,  &kp BSPC,     LM2 LM1,     DEF NUM NAV MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(del,   &kp DEL,      LM3 LM2 LM1, DEF NUM NAV MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Horizontal combos - right hand */
ZMK_COMBO(nav,   &smart_nav,   RT1 RT2,     DEF NUM MOUSE,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(mouse, &smart_mouse, RT2 RT3,     DEF NUM NAV,       COMBO_TERM_FAST, COMBO_IDLE_FAST)
